{% extends "base_page.html" %}

{% block title%}{{ _("URL Shortener") }}{% endblock %}

{% block content %}
<form method="post">
    <label for="url-input">{{ _("Enter URL:") }}</label>
    <input type="text" id="url-input" name="long-url" required>
    <input type="submit">
    <br>
    <label for="password-input">{{ _("Enter password (optional):") }}</label>
    <input type="password" id="password-input" name="password">
    <p>{{ _("You can modify the URL with a password. If no password is set, the URL cannot be changed.") }}</p>
    <p>{{ _("To modify short URL enter: &ltshort URL&gt/modify") }}</p>
    <p>{{ _("To get info about short URL enter: &ltshort URL&gt/info") }}</p>
</form>
{% endblock %}