{% extends "base_page.html" %}

{% block title%}{{ _("Short URL info") }}{% endblock %}

{% block content %}

<p>{{ _("Short URL: %(short_url)s redirects to %(long_url)s.",
    short_url=short_url,
    long_url=url) }}
</p>

{% set datetime = created_on|to_datetime %}
<p>{{ _("This short URL was created on: %(datetime)s", datetime=datetime) }}</p>

{% if last_modified != 0 %}
{% set datetime = last_modified|to_datetime %}
<p>{{ _("This short URL was last modified on: %(datetime)s", datetime=datetime)}}</p>
{% endif %}

{% endblock %}